<div style="margin-bottom:20px;">
  <span>
    {{ label }}
    <span *ngIf="formControlMandatory()">
    *
    </span>
  </span>
  <nb-checkbox [checked]="value" (checkedChange)="checkedChange($event)"></nb-checkbox>
  <div style="color:red" *ngIf="error && control.touched && control.hasError('required')">
    {{ label }} is required.
  </div>
</div>
