<div class="container-fluid">
  <nb-card>
    <nb-card-header>
      <div class="row">
        <div class="col-md-6" fxLayout="row" fxLayoutAlign="start center">
          All Runners
          <button nbButton style="margin-left:10px;">
            <nb-icon icon="funnel-outline"></nb-icon>
          </button>
        </div>
        <div class="col-md-6" fxLayout="row" fxLayoutAlign="end center">
          <button nbButton status="primary">
            <nb-icon icon="plus-circle-outline"></nb-icon>
            Add
          </button>
        </div>
      </div>
    </nb-card-header>
    <nb-card-body>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-2 tbl-column-th border-bottom-th">
            <b>ID</b>
          </div>
          <div class="col-md-2 tbl-column-th border-bottom-th">
            <b>Repository</b>
          </div>
          <div class="col-md-4 tbl-column-th border-bottom-th">
            <b>Total Minutes</b>
          </div>
          <div class="col-md-2 tbl-column-th border-bottom-th">
            <b>Status</b>
          </div>
          <div class="col-md-2 tbl-column-th border-bottom-th">
            <b>Actions</b>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-2 tbl-column">
            134
          </div>
          <div class="col-md-2 tbl-column">
            <a [routerLink]="'<git lab link>'">HaulierMagic</a>
          </div>
          <div class="col-md-4 tbl-column">
            345.12
          </div>
          <div class="col-md-2 tbl-column">
            <span class="status success">
              Active
            </span>
          </div>
          <div class="col-md-2 tbl-column">
            <button nbButton size="small" [nbContextMenu]="items">
              <nb-icon icon="arrow-ios-downward-outline"></nb-icon>
            </button>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-2 tbl-column">
            135
          </div>
          <div class="col-md-2 tbl-column">
            <a [routerLink]="'<git lab link>'">HaulierMagic</a>
          </div>
          <div class="col-md-4 tbl-column">
            1157.99
          </div>
          <div class="col-md-2 tbl-column">
            <span class="status inactive">
              Not Running
            </span>
          </div>
          <div class="col-md-2 tbl-column">
            <button nbButton size="small" [nbContextMenu]="items">
              <nb-icon icon="arrow-ios-downward-outline"></nb-icon>
            </button>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-2 tbl-column">
            136
          </div>
          <div class="col-md-2 tbl-column">
            <a [routerLink]="'<git lab link>'">RouteMagic</a>
          </div>
          <div class="col-md-4 tbl-column">
            32.11
          </div>
          <div class="col-md-2 tbl-column">
            <span class="status warning">
              Setup Needed
            </span>
          </div>
          <div class="col-md-2 tbl-column">
            <button nbButton size="small" [nbContextMenu]="items">
              <nb-icon icon="arrow-ios-downward-outline"></nb-icon>
            </button>
          </div>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
</div>
