.tbl-column {
  padding:10px 25px;
}

.tbl-column-th {
  padding:25px 25px 10px 25px;
}

.status {
  padding:10px;
  border-radius:4px;
  text-transform: uppercase;
  font-size:12px;
  font-weight: bold;
}

.success {
  color: #ffffff;
  background-color: #00d68f;
}

.inactive {
  background-color: #edf1f7;
  color: #222b45;
}

.warning {
  background-color: #ffaa00;
  color: #ffffff;
}
