<div style="margin-bottom:20px;">
  <span>
    {{ label }}
    <span *ngIf="formControlMandatory()">
    *
    </span>
  </span>
  <nb-form-field>
    <nb-select [placeholder]="label" [formControl]="control" (selectedChange)="this.change.emit($event)">
      <nb-option *ngFor="let item of options" [value]="item">{{ labelAttribute ? item[labelAttribute] : item }}</nb-option>
    </nb-select>
  </nb-form-field>
  <div style="color:red" *ngIf="error && control.touched && control.hasError('required')">
    {{ label }} is required.
  </div>
</div>
