<nb-layout>

  <nb-layout-header subheader>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6" fxLayout="row" fxLayoutAlign="start center">
          <nb-form-field>
            <nb-icon nbPrefix icon="search-outline" pack="eva"></nb-icon>
            <input type="text" nbInput placeholder="Quick Search">
          </nb-form-field>
        </div>
        <div class="col-md-6" fxLayout="row" fxLayoutAlign="end center">
          <nb-user size="large"
                   name="John Doe"
                   title="Engineer"
                   badgeText="3"
                   badgeStatus="primary"
                   badgePosition="bottom right">
          </nb-user>
        </div>
      </div>
    </div>
  </nb-layout-header>

  <nb-sidebar>
    <div class="menu-logo" fxLayout="row" fxLayoutAlign="center center">
      <nb-icon icon="activity-outline"></nb-icon>
      My <b>Runners</b>
    </div>
    <div class="sidebar">
      <div class="menu-group" *ngFor="let item of navigationItems">
        <p class="menu-title">{{ item.name }}</p>
        <nb-menu [items]="item.items"></nb-menu>
      </div>
    </div>
  </nb-sidebar>

  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>
</nb-layout>
